body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
}

.hero {
    @include flexing(column, wrap, start, center);
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    padding: 50px 50px;
    &__CTA {
        padding-left: 5px;
        color: $primary-color;
        font-size: 20px;
        font-weight: 500;
        transition: 500ms;
        width: 50%;
        &:hover {
            color: rgb(5, 50, 148);
            cursor: pointer;
        }
    }
    &__h1 {
        color: $text-color;
        font-family: $font-secondary;
        margin: 0 0 0 0;
        font-size: $h1;
        font-weight: 600;
        line-height: 1.15;
        width: 70%;
    }
    &__h4 {
        color: $text-color;
        margin: 30px 0 0 0;
        font-size: $h4;
        font-weight: normal;
        line-height: 1.4;
        width: 50%;
    }
    &__img {
        display: none;
    }
    &__number-changer {
        display: none;
    }
    //responsive
    @include large {
        @include flexing(row, wrap, center, center);
        max-width: 1800px;
        padding: 50px 20px;
        margin: 80px 0;
        &__h1 {
            color: $text-color;
            font-family: $font-secondary;
            margin: 0 0 0 0;
            font-size: $h1;
            font-weight: 600;
            line-height: 1.15;
            width: 80%;
        }
        &__h4 {
            color: $text-color;
            margin: 30px 0 0 0;
            font-size: $h4;
            font-weight: normal;
            line-height: 1.4;
            width: 80%;
        }
        &__changer {
            position: relative;
        }
        &__img {
            padding: 0 0 0 100px;
            display: flex;
            width: 80%;
        }
        &__number-changer {
            display: block;
            position: absolute;
            top: 8%;
            right: 30%;
            font-family: $font-secondary;
            font-size: 1.2em;
        }
        &__column1,
        &__column2 {
            width: 40%;
        }
        &__column2 {
            position: relative;
        }
    }
}

.banner-cta {
    padding: 100px 0;
    @include flexing(column, wrap, center, center);
    height: 50vh;
    background-color: $primary-color;
    &__h1 {
        color: white;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
        line-height: 48px;
        font-size: $h1;
        font-family: $font;
    }
    @include large {
        height: 50vh;
    }
}

.banner-cta2 {
    @include flexing(column, wrap, center, center);
    height: 50vh;
    padding: 50px 50px 80px 0;
    background-color: #efefef;
    background-image: url(https://enriqueteruel.com/wp-content/uploads/2021/11/5378862-01.png);
    background-position: 0% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    &__h1 {
        color: $text-color;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 100px;
        line-height: 48px;
        font-size: $h1;
        font-family: $font;
    }
    @include large {
        height: 60vh;
    }
}

.conversor {
    padding: 100px 0;
    @include flexing(column, wrap, center, center);
}

.token-api {
    padding: 100px 0;
    margin-right: 80px;
    @include flexing(column, wrap, center, center);
}

.up {
    display: none;
    a {
        color: white;
        padding: 50px 10px;
        &:hover {
            color: white;
        }
    }
    position: fixed;
    background-color: $primary-color;
    right: 30px;
    bottom: 30px;
}