.button {
    margin: 10px 0 50px;
    position: relative;
    width: auto;
    border-radius: 4px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    &:hover {
        background-color: rgb(4, 62, 185);
        cursor: pointer;
        color: white;
    }
}

// animation
.sake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}