.calculadora{
    height: 50vh;
    @include flexing(column, wrap, space-around, space-around);
     background-color: #efefef;


    .form_calc{
        padding: 0px;
        @include flexing(row, wrap, space-around, center);

        input {

    margin: 0px 85px 0px 5px;
    background: white;
    border: none;
    font-size: 14px;
     height: 25px;
     padding: 1px;
     width: 150px;
        }
        select {
            margin: 0px 85px 0px 5px;
            background: white;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
        }

        button{
    width: auto;
    border-radius: 4px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    &:hover {
        background-color: rgb(4, 62, 185);
        cursor: pointer;
        color: white;
        }



    }
}}


