.input {
    @include flexing(row, wrap, center, center);
    input {
        margin: 20px 20px 8px 20px;
        border: none;
        border-bottom: 1px solid $primary-color;
        outline: none;
        background: transparent;
        width: auto;
        text-align: center;
        &::placeholder {
            text-align: center;
            padding: 20px;
        }
    }
}

.token-search {
    margin: 20px 20px 50px 20px;
    border: none;
    border-bottom: 1px solid $primary-color;
    outline: none;
    background: transparent;
    width: auto;
    text-align: center;
}


.calculadora{
    margin: 30px 0;
    padding: 50px;
    @include flexing(column, wrap, center, center);
 
&__content{

    @include flexing(row, wrap, center, center);
 }


}


