.list-tokens {
    padding: 100px 100px;
    margin: 50px 0;
    list-style: none;
    padding: 30px;
    @include flexing(row, wrap, center, center);
    .token-element {
        @include flexing(row, wrap, center, center);
        width: 100%;
        @include large {
            @include flexing(row, wrap, center, center);
            width: 33%;
        }
    }
}