.modal2 {
    @include flexing(column, wrap, center, center);
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 82, 255, 0.8);
    &__content {
        border-radius: 2%;
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 0px;
        width: 50vh;
        height: 30vh;
    }
    &__close {
        position: absolute;
        color: $primary-color;
        font-size: 25px;
        font-weight: bold;
        top: 0px;
        right: 20px;
        &:hover,
        &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

//The Modal 
.modal {
    @include flexing(column, wrap, center, center);
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 82, 255, 0.8);
    &__content {
        border-radius: 2%;
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 0px;
        width: 50vh;
        height: 30vh;
    }
    &__close {
        position: absolute;
        color: $primary-color;
        font-size: 25px;
        font-weight: bold;
        top: 0px;
        right: 20px;
        &:hover,
        &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
    &__buy {
        position: absolute;
    }
    &__login {
        @include flexing(column, wrap, start, center);
    }
    &__title {
        font-family: $font;
        color: $primary-color;
        font-size: 28px;
        margin: 20px 0;
    }
    &__user {
        input {
            margin-top: 30px;
            margin-bottom: 10px;
            margin-left: 25px;
            border: none;
            border-bottom: 1px solid $primary-color;
            outline: none;
            background: transparent;
        }
    }
}

//Result Card
.card-result {
    @include flexing(row, wrap, space-around, center);
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    width: 80%;
    line-height: 30px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    transition: 2s;
}