
.special-tr{
border: 0px ;
background-color: $primary-color;
color: white;


&:hover{
    border: 0px ;
    background-color: $primary-color;
    color: white; 
}

}

.table-tokens{
padding: 120px 20px;


@include large{

 padding: 120px 120px;
}}


table {
        border-collapse: collapse;
        width: 100%;
      
      tr{
        padding: 1rem;
        text-align: center;
        border: 0px;
        background-color: #ffffff;

        &:hover{
            background-color: #f8f8f8; 
        }
      }

      th{
        padding: 1rem; 
      }
      .highlight {
        background: yellow;
      }

      tr:nth-child(even) {
        background-color: #f5f5f5;

        &:hover{
            background-color: #f1f0f0; 
        }
      }





}




