@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.h1{
font-size: $h1;
text-align: center;

}

.h2{
    font-size: $h2;
    text-align: center;

}

.h3{
    font-size: $h3;
    text-align: center;

}

.h4{
    font-size: $h4;
    text-align: center;

}
