$unit: 50px;
$font: "Open Sans", sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$primary-color: #0052ff;
$text-color: rgb(5, 15, 25);
$h1: 55px;
$h2: 40px;
$h3: 36px;
$h4: 25px;



@mixin flexing($direction, $wrap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

// Responsive mixins
// Material Design breakpoints

@mixin small {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin xlarge {
  @media only screen and (min-width: 2000px) {
    @content;
  }
}

@mixin detail {
  @media only screen and (min-width: 800px) {
    @content;
  }
} ;
