.menu {
    @include flexing(row, nowrap, space-between, center);
    padding: 12px;
    border-bottom: 1px solid rgb(236, 239, 241);
    &__img {
        padding: 0px;
        width: 100px;
        height: auto;
    }
    &__list {
        li {
            display: none;
        }
        svg {
            padding: 15px 0 0 0;
        }
    }
    @include medium {
        justify-content: space-around;
        flex-wrap: wrap;
        .menu__list {
            li {
                display: inline-flex;
                padding: 0 10px;
                &:hover {
                    cursor: pointer;
                }
            }
            #special {
                background-color: $primary-color;
                color: white;
                padding: 5px 10px;
                margin-left: 25px;
                border-radius: 5px;
                transition: 400ms;
                &:hover {
                    background-color: rgb(4, 62, 185);
                    cursor: pointer;
                }
            }
            svg {
                display: none;
            }
        }
    }
    @include large {
        padding: 5px 50px;
        &__img {
            padding: 0px;
            width: 550px;
            height: auto;
        }
    }
}