//Text higlight
img::selection {
    background: transparent
}

*::selection {
    background: $primary-color;
    color: white;
}

// links decorations
a {
    color: $text-color;
    text-decoration: none;
    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

// effect fadeIn
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


//Show hide

.hide{
    display: none;
}


.show {
    display: block;
}